body {
    background-color: white;
    color: black;
  }
  body.dark-mode {
    background-color: #111;
    color: white;
  }
.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px; /* adjust to your navbar height */
    background-color: #000; /* or your theme */
    z-index: 1000; /* make sure it's higher than everything else */
  }
  
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-menu button{
    padding: 5px 9px;
    margin: 4px 5px;
    border-radius: 2px solid;
    font-size: large;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li.active{
    color: rgb(43, 226, 83);
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media (max-width:768px) {
    .navbar{
        margin: 20px 50px;
        background-color: ;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}